// Google Font Imports
// Caveat Brush - H1, accent
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');
// Allerta Font - H2, H3
@import url('https://fonts.googleapis.com/css2?family=Allerta&family=Caveat+Brush&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
// Roboto Font - H4 to paragraph text
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


// GLOBAL RESET
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Variables Start
$primary-color: #1B1A22;
$secondary-color: #407D3B;
$tertiary-color: #F6B568;
$main-font-color: #FFFFFF;

$primary-button-hover-color: rgba(17, 42, 15, 0.8);
$secondary-button-hover-color: rgba(246, 181, 104, 0.56);

$header-font-family: "Caveat Brush";
$sub-header-font-family: "Allerta";
$body-font-family: "Roboto";
$body-font-weight-light: 300;
$body-font-weight-regular: 400;

// All Repeated Elements Styling Start
h1 {
    font-family: $header-font-family;
    color: $main-font-color;
}

h2, 
h3,
label {
    font-family: $sub-header-font-family;
    color: $main-font-color;
}

h4,
h5,
h6,
p {
    font-family: $body-font-family;
    color: $main-font-color;
    font-weight: $body-font-weight-regular;
}

h6 {
    font-weight: $body-font-weight-light;
}

button {
    padding: 15px 20px;
    // width: 200px;
    // height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: none;
    border-radius: 10px;
    
}

.primary-button {
    background-color: $secondary-color;
    color: #FFFFFF;
    .fa-solid {
        color: $main-font-color;
    }
}

.primary-button:hover {
    background-color: $primary-button-hover-color;
    color: #ffffff7b;
}

.secondary-button {
    background-color: $tertiary-color;
    color: $primary-color;
    .fa-solid {
        color: $primary-color;
    }
}

.secondary-button:hover {
    background-color: $secondary-button-hover-color;
}

.fa-solid {
    color: $tertiary-color;
    font-size: 2em;
}

// All Repeated Elements Styling End

// Body Styling Consisent throughout whole website
body {
    background-image: linear-gradient(rgba(180, 178, 188, 0.2), rgba(205, 204, 210, 0.2)), url("/img/other/background.webp");
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

// Navigation bar styling
#navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: $primary-color;
    color: white;
    padding: 30px;

    .left-nav-logo {
        width: 8%;
        background-image: url("/img/other/logo.webp");
        background-position: center;
        background-size: cover;
    }

    .right-nav {
        width: 30%;

        ul {
            display: flex;
            justify-content: space-between;
            color: $main-font-color;
        }
    }
}

.swiper {
    max-width: 80vw;
    max-height: 80vh;
}

.swiper-slide {
    height: 80vh;
    width: 80vw !important;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    align-items: center;
    justify-content: center;
}