// Google Font Imports
// Caveat Brush - H1, accent
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');
// Allerta Font - H2, H3
@import url('https://fonts.googleapis.com/css2?family=Allerta&family=Caveat+Brush&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
// Roboto Font - H4 to paragraph text
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


// GLOBAL RESET
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Variables Start
$primary-color: #1B1A22;
$secondary-color: #407D3B;
$tertiary-color: #F6B568;
$main-font-color: #FFFFFF;



// Body Styling Consisent throughout whole website
body {
    background-image: linear-gradient(rgba(27, 26, 34, 0.2), rgba(27, 26, 34, 0.2)), url("/img/other/background.webp");
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

// Navigation bar styling
nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: $primary-color;
    color: white;
    padding: 30px;

    .left-nav-logo {
        width: 8%;
        background-image: url("/img/other/logo.webp");
        background-position: center;
        background-size: cover;

    }
    .right-nav {
        width: 30%;
        ul {
            display: flex;
            justify-content: space-between;
            color: $main-font-color;

        }
    }
}